.about
{
	width: 85vw;
	height: 60px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	mix-blend-mode: difference;
	background: linear-gradient(45deg,#0680c7 50%,#c9c8c7 50%);
	animation-name: scale;
	animation-duration: 1s;
}

.text:after
{
  	content: "project";
  	display: block;
  	color: #fff;
  	mix-blend-mode: difference;
}
.text1:after
{
	content: "working on";
  	display: block;
  	color: #fff;
  	mix-blend-mode: difference;
}