.ele
{
	height: 50px;
	width: 100px;
	background: rgba(0, 0, 0,0.4);
	border-radius: 12px;
	animation-name: scale;
	animation-duration: 1s;
}
.container
{
	height: 100vh;
	width: 100vw;
	margin-top: 30px;
	display: flex;
	flex-direction: column;	
	align-items: center;
}
.pro_card
{
	height: 40vh;
	width: 85vw;
	flex-wrap: wrap; 
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	overflow: hidden;
	transition: 1s;
	margin-bottom: 20px;
	background: #0680c7;
	border-radius: 1vh;
}

.pro_cont
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	overflow: scroll;
	flex-direction: column;
}
.progress
{
	height: 5px;
	border-radius:0 2.5px 2.5px 0;
	background: #fff;
}
.heading
{
	color: #fff;
	padding: 5px;
}
.pro_before
{
	transform: translateY(calc(-40vh - 20px));
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.scont
{
	animation-name: scale;
	animation-duration: 1s;
	display: flex;
	filter: url("#goo");
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.liq
{
	display: flex;
	justify-content: space-around;
	width: 85vw;
	z-index: 1;
	position: absolute;
	transform: translateY(-200%);	
}
.liquid
{
	border-radius: 50%;
	background: #0680c7;
	transition: 2s;
}
.liq_t
{
	transform: translateY(325%);
}
.arrow
{
	display: inline-block;
	overflow: visible;
	height: 60px;
	padding: 10px;	
	transition: .5s;
	top:40vh;
	position: fixed;
	background: #fff;
	fill: none;
	border-radius: 10px;
	stroke: #0680c7;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	z-index: 9;
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,.5));
}
.trans
{
	transform: translateY(0);
}
.rotate
{
	transform: rotate(180deg);
}
.profile
{
	height:175px;
	border-radius: 50%;
	width: 175px;
	border: 10px solid #fff;
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,.3));
}
@keyframes scale
{
	40%
	{
		transform: scale(1.1);
	}
}