.ele
{
	height: 50px;
	width: 100px;
	background: rgba(0, 0, 0,0.4);
	border-radius: 12px;
	animation-name: scale;
	animation-duration: 1s;
}
.container
{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}
.pro_card
{
	height: 40vh;
	width: 85vw;
	transition: 1s;
	margin-bottom: 20px;
	background: #0680c7;
	border-radius: 1vh;
}
.pro_before
{
	transform: translateY(calc(-40vh - 20px));
}
.scont
{
	animation-name: scale;
	animation-duration: 1s;
	display: flex;
	filter: url("#goo");
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.liq
{
	display: flex;
	position: absolute;
	transform: translateY(-100%);	
}
.liquid
{
	border-radius: 50%;
	background: #0680c7;
	transition: 2.5s;
	transform: translateY(0);
}
.liq_t
{
	transform: translateY(200%);
}
.arrow
{
	display: inline-block;
	overflow: visible;
	height: 60px;
	padding: 10px;
	transition: .5s;
	position: fixed;
	background: #fff;
	fill: none;
	border-radius: 10px;
	stroke: #0680c7;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	z-index: 9;
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,.5));
}
.trans
{
	transform: translateY(0);
}
.rotate
{
	transform: rotate(180deg);
}
@keyframes scale
{
	40%
	{
		transform: scale(1.1);
	}
}