.ele
{
	height: 50px;
	width: 100px;
	background: rgba(0, 0, 0,0.4);
	border-radius: 12px;
	animation-name: scale;
	animation-duration: 1s;
}
.container
{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}
.pro_card
{
	height: 40vh;
	width: 85vw;
	transition: 1s;
	margin-bottom: 20px;
	background: #0680c7;
	border-radius: 1vh;
}
.pro_before
{
	transform: translateY(calc(-40vh - 20px));
}
.scont
{
	animation-name: scale;
	animation-duration: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.arrow
{
	display: inline-block;
	overflow: visible;
	height: 60px;
	padding: 10px;
	background: #fff;
	fill: none;
	border-radius: 10px;
	stroke: #0680c7;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	z-index: 9;
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,.5));
}
@keyframes scale
{
	40%
	{
		transform: scale(1.1);
	}
}